[[define "title"]]Epinio[[end]]

[[define "body"]]
<div class=".container-fluid" id="app">
  <div class="col-12">
    <h2>About Epinio</h2>
    <p class="card-text">
      <table class="table">
        <tbody>
          <tr><td>Epinio version</td><td>[[ .version ]]</td></tr>
          <tr><td>Platform</td><td>[[ .platform ]]</td></tr>
          <tr><td>Kubernetes version</td><td>[[ .kubeVersion ]]</td></tr>
          <tr><td>Gitea version</td><td>[[ .giteaVersion ]]</td></tr>
          <tr><td>Code</td><td><a href="https://github.com/epinio/epinio">https://github.com/epinio/epinio</a></td></tr>
          <tr><td>License</td><td><a href="https://github.com/epinio/epinio/blob/main/LICENSE">Apache 2.0</a></td></tr>
        </tbody>
      </table>
    </p>
  </div>
</div>
[[ end ]]

[[define "page-javascript"]]
[[ end ]]
