---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cc-wiremock
  namespace: eirini-core
spec:
  selector:
    matchLabels:
      name: cc-wiremock
  template:
    metadata:
      labels:
        name: cc-wiremock
    spec:
      containers:
      - name: wiremock
        image: rodolpheche/wiremock
        ports:
        - containerPort: 8080
          name: http
