---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eirini-event-reporter
  namespace: eirini-core

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: eirini-event-reporter-psp
  namespace: eirini-core
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  verbs:
  - use
  resourceNames:
  - eirini-event-reporter

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: eirini-event-reporter-psp
  namespace: eirini-core
roleRef:
  kind: Role
  name: eirini-event-reporter-psp
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: eirini-event-reporter
  namespace: eirini-core

---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: eirini-event-reporter
  annotations:
    seccomp.security.alpha.kubernetes.io/allowedProfileNames: 'runtime/default'
    seccomp.security.alpha.kubernetes.io/defaultProfileName:  'runtime/default'
spec:
  privileged: false
  allowPrivilegeEscalation: false
  requiredDropCapabilities:
    - ALL
  volumes:
    - 'configMap'
    - 'secret'
  hostNetwork: false
  hostIPC: false
  hostPID: false
  runAsUser:
    # we use non-numeric user ID, so K8s can't verify if it is root or not
    rule: 'RunAsAny'
  seLinux:
    # This policy assumes the nodes are using AppArmor rather than SELinux.
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      # Forbid adding the root group.
      - min: 1
        max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
      # Forbid adding the root group.
      - min: 1
        max: 65535
  readOnlyRootFilesystem: false
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: eirini-event-reporter-nodes-policy
rules:
- apiGroups:
  - ""
  resources:
  - "nodes"
  - "nodes/proxy"
  verbs:
  - "get"
  - "list"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: eirini-event-reporter-nodes-policy
subjects:
- kind: ServiceAccount
  name: eirini-event-reporter
  namespace: eirini-core
roleRef:
  kind: ClusterRole
  name: eirini-event-reporter-nodes-policy
  apiGroup: rbac.authorization.k8s.io
