*~
\#*
password
*.pem
.vagrant
.bash_history
*.box
*.vmdk
personal-setup
.envrc
/*values.yaml
/output
/local
/tmp
/dist
/resources
acceptance/acceptance.test
.vscode
assets/embedded-files/container-registry-0.1.0.tgz
assets/statik/
assets/statikWebAssets/
assets/statikWebViews/
