*~
\#*
password
*.pem
.vagrant
.bash_history
*.box
*.vmdk
*.tgz
personal-setup
.envrc
/*values.yaml
/output
/local
/tmp
/dist
/resources
acceptance/acceptance.test
.vscode
.ignore
contrib/
Session.vim
