[[define "title"]]Epinio[[end]]

[[define "body"]]
<div class=".container-fluid" id="app">
  <div class="col-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Routes</th>
          <th scope="col">Services</th>
        </tr>
      </thead>
      <tbody>
        <!-- https://v3.vuejs.org/guide/migration/custom-elements-interop.html#_3-x-syntax-2 -->
        <tr v-is="'application'"
            v-for="app in applications"
            v-bind:name="app.Name"
            v-bind:status="app.Status"
            v-bind:routes="app.Routes"
            v-bind:services="app.BoundServices"
            v-bind:key="app.Name">
        </tr>
      </tbody>
    </table>
  </div>
</div>

[[ end ]]

[[define "page-javascript"]]
<script type="module" src="/assets/js/applications.js"></script>
[[ end ]]
