[[define "new-org-modal"]]
<div class="modal fade" id="newOrgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="newOrgForm" action="/api/v1/namespaces">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Organization</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="orgName">Organization Name</label>
              <input type="text" class="form-control" id="orgName" aria-describedby="orgNameHelp" placeholder="E.g. MyNewOrg">
              <small id="orgNameHelp" class="form-text text-muted">The name of the new Organization</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
[[end]]
