name: sample-app-container-image

on:
  push:
    branches: [ main ]
    paths:
    - 'assets/sample-app'
    
jobs:
  build_sample_app_container_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: setup-pack
        uses: buildpacks/github-actions/setup-pack@v4.8.0
      - name: Pack Remote Build
        run: pack build splatform/sample-app:latest --builder paketobuildpacks/builder:full --path ./assets/sample-app
      - name: Docker push image
        run: docker push splatform/sample-app:latest
