name: golangci-lint

on:
  schedule:
    - cron:  '0 5 * * *'
  pull_request:
    paths-ignore:
    - 'docs/**'
    - 'README.md'

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Generate Golang
        run: |
          export PATH=$PATH:/home/runner/go/bin/
          make embed_files

      - id: configfile
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "::set-output name=file::.golangci.yml"
          else
            echo "::set-output name=file::.golangci-schedule.yml"
          fi

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.42

          args: --timeout=10m --config=${{ steps.configfile.outputs.file }}

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # The condition sets this to true for PR events.
          only-new-issues: "${{ github.event_name == 'pull_request'}}"
