# This action will be triggered when the 'Product Release' will be published.
# This will notify the external repositories about the new Epinio version
name: Release Published

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: self-hosted

    steps:
      - name: Get current tag
        id: get_tag
        run: echo ::set-output name=TAG::${GITHUB_REF/refs\/tags\//}

      # Allow to automate documentation update related to Epinio releases.
      # The latest tag is sent to the documentation repository.
      - name: epinio/docs Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.CHART_REPO_ACCESS_TOKEN }}
          repository: epinio/docs
          event-type: epinio-release
          client-payload: '{"ref": "${{ steps.get_tag.outputs.TAG }}"}'

      - name: Bump Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v2
        if: "!contains(github.ref, '-')" # skip prereleases
        with:
          download-url: https://github.com/epinio/epinio/archive/refs/tags/${{ steps.get_tag.outputs.TAG }}.tar.gz
          commit-message: |
            {{formulaName}} {{version}}

            Created by https://github.com/mislav/bump-homebrew-formula-action
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}

      - name: Bump Homebrew Epinio tap
        uses: mislav/bump-homebrew-formula-action@v2
        if: "!contains(github.ref, '-')" # skip prereleases
        with:
          homebrew-tap: epinio/homebrew-tap
          download-url: https://github.com/epinio/epinio/archive/refs/tags/${{ steps.get_tag.outputs.TAG }}.tar.gz
          commit-message: |
            {{formulaName}} {{version}}

            Created by https://github.com/mislav/bump-homebrew-formula-action
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
